<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.nait.bsebagabo1.randomnumberwidget">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme">
        <receiver android:name=".RandomWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_config"/>
        </receiver>
    </application>
</manifest>
